/* Some adjustments cause the enviornment is a little different */
html, body {
    background: none !important;
}

* {
    font-family: var(--ui-font);
}

code {
    font-family: monospace;
}

.silversearch-highlight {
    background-color: color-mix(in srgb, var(--editor-highlight-background-color), 50% transparent);
}